@import "tailwindcss";

html,
body {
  background: #1e1e1e;
  color: #fff;
  margin: 0;
}

/* Heb dit niet werkend gekregen, geen idee hoe dit precies werkt. Daarom heb ik gewoon de styling toegevoegd per element */
:root {
  --title-font: var(--font-title);
  --ui-font: var(--font-ui);
}


